{
    "SQLALCHEMY_DATABASE_URI": "sqlite:///data.db",
    "LOGGING": {
        "LEVEL": {
            "ALL": 20,
            "CONSOLE": 20,
            "FILE": 20
        },
        "FILE": "log.txt"
    },
    "MAINTAINER": "",
    "EVE_CLIENT_ID":"",
    "EVE_CLIENT_SECRET":"",
    "EVE_CALLBACK_URI": "",
    "DISCORD_CLIENT_ID":"",
    "DISCORD_CLIENT_SECRET":"K",
    "DISCORD_REDIRECT_URI":"",
    "DISCORD_TOKEN": "",
    "DISCORD_COMMAND_PREFIX": "!",
    "DISCORD_DESCRIPTION": "",
    "DISCORD_SERVER":"",
    "DISCORD_SERVER_INVITE":"",
    "DISCORD_BOT_AUTH_ROLES":[
        {
            "role_name":"",
            "corp_id":
        }
    ],
    "BASE_AUTH_ROLE":"Auth"
}
